.ambar {
    color:orange;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.negro1 {
    background-color: black;
}

.negro2 {
    background-color: black;
}

.negro3 {
    background-color: black;
}


div {
    border: 1px solid black;
    margin: 20px;
}
