.ambar {
    background-color: orange;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.negro {
    background-color: black;
}

div {
    border: 1px solid black;
    margin: 10px;
}
